CITYOS_NETWORK=cityos-network
ERP_DOMAIN=erpnext.mvplab.sa
ERPNEXT_SITE_NAME=erp.cityos.local
ERPNEXT_ADMIN_PASSWORD=change-me
ERPNEXT_DB_ROOT_PASSWORD=change-me
ERPNEXT_IMAGE_TAG=latest
ERPNEXT_NGINX_IMAGE_TAG=latest

DB_HOST=erp-db
DB_PORT=3306

REDIS_CACHE=redis://redis-cache:6379
REDIS_QUEUE=redis://redis-queue:6379
REDIS_SOCKETIO=redis://redis-queue:6379
